.firstBox h1, .box2_about h1 {
    color: var(--default-font-color);
}

.principalSobre {
    overflow-x: hidden;
}

.alignImg {
    display: flex;
    justify-content: center;
}

.imgBackgroundInit_about {
    margin: 10vh 0 0 0;
    width: 95%;
    border-radius: 4px;
}

.title {
    margin: 8vh 10vw 15vh 10vw;
    text-align: center;
}

.title label {
    color: #5FDC64;
}

/* ------------------------------------------------------------------------------- */
.firstBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBox h1 {
    padding-top: 30px;
    text-align: center;
}

.boxAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.mulherAfirmativo_about {
    margin-left: -100px;
    margin-bottom: -100px;
    width: 500px;
}

.contentInfo_about {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.infoAbout,
.infoAbout2 {
    font-size: 18px;
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    gap: 10px;
    max-width: 500px;
    text-align: center;
    flex-direction: row;
}

.infoAbout img,
.infoAbout2 img {
    width: 50px;
}

.infoAbout2 {
    position: relative;
    right: -60px;
    flex-direction: row-reverse;
}

.homemAfirmativo_about {
    margin-right: -100px;
    margin-bottom: -100px;
    width: 500px;
}


/* ------------------------------------------------------------------------------- */

.box2_about {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: #BBDDBB;
}

.box2_about h1 {
    width: 100%;
    text-align: center;
    margin: 80px 0 50px 0;
    font-size: 25px;
}

section.box2_about div {
    font-size: 19px;
    display: flex;
    align-items: center;
    width: 85vw;
    justify-content: space-between;
}

.contentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contentInfo div {
    display: flex;
    flex-direction: column;
}

.contentInfo div section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px black solid;
    width: 100%;
}

.contentInfo div section p {
    width: 100%;
}

.article {
    display: none;
    visibility: hidden;
    color: black;
    font-size: 2.4vh;
}

section:hover~article {
    display: flex;
    visibility: visible;
}

article:hover {
    display: flex;
    visibility: visible;
}

/* ---------------------------------NOS CONTATE---------------------------------------------- */

.box3_about {
    background-color: white;
    display: flex;
    padding: 100px 0;
    justify-content: space-evenly;
    height: 0;
}

.box3_about h1 label {
    color: #5FDC64;
}

.principalSobre {
    background-color: white;
}

.infoAboutContact {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 50px;
    z-index: 3;
}

.infoAboutContact div {
    background-color: #f0f0f089;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 3vh;
    gap: 20px;
    width: 520px;
    border-radius: 10px;
}

.emailAbout,
a[href*="callto"] {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.infoAboutContact div p {
    padding: 20px 0 20px 2vw;
    width: 100%;
}

.title_social_media {
    width: fit-content !important;
}

.imgBackgroundEnd_about {
    width: 900px;
    position: relative;
    top: -65px;
    right: -200px;
    /* z-index: -4; */
}


/*============================MEDIA-QUERYS============================*/

@media (max-width:1100px) {

    .mulherAfirmativo_about,
    .homemAfirmativo_about {
        display: none;
    }

    .boxAbout {
        min-height: auto;
        padding: 10vh 10vh;
        justify-content: center;
    }

    .contentInfo_about {
        gap: 10vh;
    }

    .box2_about {
        padding-bottom: 10vh;
    }

    .box3_about {
        flex-direction: column;
    }

    .box3_about h1 {
        text-align: center;
    }

    .infoAboutContact {
        align-items: center;
    }

    .infoAboutContact div {
        width: 85vw;
    }

    .infoAboutContact div p {
        font-weight: 500;
        color: black;
    }

    .imgBackgroundEnd_about {
        position: sticky;
    }

}

@media (max-width:425px) {
    
    .boxAbout{
        padding: 100px 10px 100px 10px;
    }
    
    .imgBackgroundEnd_about {
        visibility: hidden;
        height: 35em;
    }

    .box3_about h1,
    .infoAboutContact {
        background-color: white;
    }

    .infoAboutContact div {
        min-width: initial;
        overflow-wrap: anywhere;
    }

    .title_social_media {
        display: none;
    }

    div.box_social_media {
        padding-left: 0;
        justify-content: center;
        height: 4rem;
        margin-bottom: 4rem;

    }

    .infoAboutContact div {
        background-color: #c2c2c28a;
    }

    .principalSobre {
        overflow-x: visible;
    }
}